.loader {
    border: 10px solid #ffffff;
    border-top: 10px solid rgba(0, 99, 160, 1);
    border-bottom: 10px solid rgba(0, 99, 160, 1);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    
  }
  
.data {
}

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* Style the button that is used to open and close the collapsible content */
  button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  .bouton {
    background-color: #e7e7e7; 
    color: black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    font-family: 'Calibri';
  }

  ul.checkbox  { 
    margin: 0; 
    padding: 0; 
    margin-left: 10px; 
    list-style: none; 
  } 
  
  ul.checkbox li input { 
    margin-right: .25em; 
  } 
  
  ul.checkbox li { 
    border: 1px transparent solid; 
    display:inline-block;
    width:24em;
  } 
  
  ul.checkbox li label { 
    margin-left: ; 
  }

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }